/* For Nav and Footer */

.main-bg-color {
	/* background-color: #c4c4c4 !important; */
	background-color: #ffff !important;
}

.notification {
	position: relative;
	display: inline-block;
	border-radius: 2px;
}

.notification .badge {
	position: absolute;
	top: -8px;
	right: -2px;
	padding: 3px 5px;
	border-radius: 25px;
	background: red;
	color: white;
}

.stat-card {
	-webkit-box-shadow: 0 5px 5px -5px #777;
	-moz-box-shadow: 0 5px 5px -5px #777;
	box-shadow: 0 2px 2px -2px #777;
}

.dropdown-menu {
	background-color: rgb(255, 255, 255);
	-webkit-box-shadow: 0 5px 5px -5px #777;
	-moz-box-shadow: 0 5px 5px -5px #777;
	box-shadow: 0 2px 2px -2px #777;
}

.dropdown-menu-item {
	background-color: rgb(255, 255, 255);
}

#coursename {
	background-color: #808080;
	font-weight: 10px;
	padding: 10px;
	margin: 20px 5px;
	text-align: center;
	place-items: center;
}

table {
	margin-left: auto;
	margin-right: auto;
	width: 84%;
	height: 100%;
	margin-top: auto;
	margin-bottom: auto;
}
thead {
	background-color: #808080;
	color: #fff;
}

.grades {
	background-color: rgba(100, 100, 111, 0.2);
}
