body {
	background-color: #f7f7f9;
}

.header-padding {
	padding: 0 80px !important;
}

.main-bg-color {
	background-color: #ffff !important;
}

.notification {
	position: relative;
	display: inline-block;
	border-radius: 2px;
}

.notification .badge {
	position: absolute;
	top: -8px;
	right: -2px;
	padding: 3px 5px;
	border-radius: 25px;
	background: red;
	color: white;
}

.stat-card {
	-webkit-box-shadow: 0 5px 5px -5px #777;
	-moz-box-shadow: 0 5px 5px -5px #777;
	box-shadow: 0 2px 2px -2px #777;
}

.dropdown-menu {
	background-color: rgb(255, 255, 255);
	-webkit-box-shadow: 0 5px 5px -5px #777;
	-moz-box-shadow: 0 5px 5px -5px #777;
	box-shadow: 0 2px 2px -2px #777;
}

.dropdown-menu-item {
	background-color: rgb(255, 255, 255);
}

.course-card-link {
	cursor: pointer;
}

.course-card-link:hover .course-card {
	text-decoration: underline;
}

.date {
	color: #f54236;
}
